@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Thin.eot");
  src: local("BR Hendrix Thin"), local("BRHendrix-Thin"),
    url("../font/BRHendrix-Thin.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Thin.woff2") format("woff2"),
    url("../font/BRHendrix-Thin.woff") format("woff"),
    url("../font/BRHendrix-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix Extra";
  src: url("../font/BRHendrix-ExtraLight.eot");
  src: local("BR Hendrix Extra Light"), local("BRHendrix-ExtraLight"),
    url("../font/BRHendrix-ExtraLight.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-ExtraLight.woff2") format("woff2"),
    url("../font/BRHendrix-ExtraLight.woff") format("woff"),
    url("../font/BRHendrix-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Light.eot");
  src: local("BR Hendrix Light"), local("BRHendrix-Light"),
    url("../font/BRHendrix-Light.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Light.woff2") format("woff2"),
    url("../font/BRHendrix-Light.woff") format("woff"),
    url("../font/BRHendrix-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Regular.eot");
  src: local("BR Hendrix"), local("BRHendrix-Regular"),
    url("../font/BRHendrix-Regular.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Regular.woff2") format("woff2"),
    url("../font/BRHendrix-Regular.woff") format("woff"),
    url("../font/BRHendrix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Medium.eot");
  src: local("BR Hendrix Medium"), local("BRHendrix-Medium"),
    url("../font/BRHendrix-Medium.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Medium.woff2") format("woff2"),
    url("../font/BRHendrix-Medium.woff") format("woff"),
    url("../font/BRHendrix-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix Semi";
  src: url("../font/BRHendrix-SemiBold.eot");
  src: local("BR Hendrix Semi Bold"), local("BRHendrix-SemiBold"),
    url("../font/BRHendrix-SemiBold.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-SemiBold.woff2") format("woff2"),
    url("../font/BRHendrix-SemiBold.woff") format("woff"),
    url("../font/BRHendrix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Bold.eot");
  src: local("BR Hendrix Bold"), local("BRHendrix-Bold"),
    url("../font/BRHendrix-Bold.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Bold.woff2") format("woff2"),
    url("../font/BRHendrix-Bold.woff") format("woff"),
    url("../font/BRHendrix-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BR Hendrix";
  src: url("../font/BRHendrix-Black.eot");
  src: local("BR Hendrix Black"), local("BRHendrix-Black"),
    url("../font/BRHendrix-Black.eot%3F") format("embedded-opentype"),
    url("../font/BRHendrix-Black.woff2") format("woff2"),
    url("../font/BRHendrix-Black.woff") format("woff"),
    url("../font/BRHendrix-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
